{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container replace">
                <div class="signup-content">
                    <div class="signup-form">

                    <h2 class="form-title">Registration <br>Complete</h2>

              <p class="register_done">Account created successfully.</p><p class="register_login"><a href="{% url 'login'%}">Login</a></p>
                    <div class="signup-image">
                        <figure><img src="{% static 'img/service-cargo-bg.png' %}" height="70%" alt="sing up image"></figure>
                        <a href="{% url 'login' %}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
            </div>
        </section>

    </div>
{% endblock %}