{% extends "base.html" %}
{% load static %}

{% block title %}Reset your password.{% endblock %}

{% block content %}
    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container replace">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Reset Password</h2>

                        <form method="post" class="register-form" id="register-form">
                          {% csrf_token %}
                          {% for field in form %}
                            <div class="form-group" id="reset-email">
                              {{ field.errors }}
<!--                              <label for="email"><i class="zmdi zmdi-email"></i></label>-->
                              {{ field.label }}
                              {{ field }}
                            </div>
                          {% endfor %}
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="SEND E-MAIL"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'img/service-cargo-bg.png' %}" height="70%" alt="sing up image"></figure>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}
