{% extends "base.html" %}
{% load static %}

{% block content %}
<header class="top-area single-page" id="home">
  <div class="top-area-bg user-bg-area" data-stellar-background-ratio="0.6"></div>
  <div class="header-top-area">
      <!--MAINMENU AREA-->
      <div class="mainmenu-area" id="mainmenu-area">
          <div class="mainmenu-area-bg"></div>
          <nav class="navbar">
              <div class="container">
                  <div class="navbar-header">
                      <a href="#home" class="navbar-brand"><img src="{% static 'img/boralogo.jpg' %}" alt="logo"></a>
                  </div>
                  <div class="search-and-language-bar pull-right">
                      <ul>
                          <li><a href="sign.html"><i class="fa fa-user"></i></a></li>
                          <li class="search-box"><i class="fa fa-search"></i></li>
                          <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                          <li class="select-language">
                              <select name="#" id="#">
                              <option selected value="End">ENG</option>
                              <option value="ARA">ARA</option>
                              <option value="CHI">CHI</option>
                          </select>
                          </li>
                      </ul>
                      <form action="#" class="search-form">
                          <input type="search" name="search" id="search">
                          <button type="submit"><i class="fa fa-search"></i></button>
                      </form>
                  </div>
                  <div id="main-nav" class="stellarnav">
                      <ul id="nav" class="nav navbar-nav">
                          <li><a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i>home</a></li>
                          <li><a href="about.html"><i class="fa fa-id-card" aria-hidden="true"></i>about</a></li>
                          <li><a href="service.html"><i class="fa fa-folder" aria-hidden="true"></i>Service</a></li>
                          <li><a href="tracking.html">Tracking</a></li>
                          <li><a href="pay.html">Pay</a></li>
                          <li><a href="contact.html"><i class="fa fa-phone"></i>Contact</a></li>
                          {% if request.user.is_authenticated %}
                          <li><a href="{% url 'logout'%}">LOGOUT</a></li>
                          {% else %}
                          <li><a href="{% url 'login' %}">LOG-IN</a></li>
                          {% endif %}
                      </ul>
                  </div>
              </div>
          </nav>
      </div>
      <!--END MAINMENU AREA END-->

  </div>
    <div class="welcome-area">
      <div class="area-bg"></div>
      <div class="container">
          <div class="row flex-v-center">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <div class="welcome-text text-center">
                      {% if section == 'register' %}<h2>Create an Account</h2>{% endif %}
                      {% if section == 'login' %}<h2>Login</h2>{% endif %}
                      <h2>Password Reset Sent</h2>
                      <ul class="page-location">
                          <li><a href="#">Home</a></li>
                          <li>/</li>
                          <li><a href="#">Contact Us</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
<!--END TOP AREA-->

    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container replace">
                <div class="signup-content">
                    <div class="signup-form">
                        <h1>Password Reset Sent</h1>
                        <strong><p>We've emailed you instructions for re-setting your password.</p>
                        <p>If you don't receive an email, please make sure you've entered
                        the address you registered with.</p></strong>
                      </div>
                      <div class="signup-image">
                        <figure><img src="{% static 'img/service-cargo-bg.png' %}" height="70%" alt="sing up image"></figure>
                    </div>
            </div>
        </section>

    </div>
{% endblock %}
