{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container replace">
                <div class="signup-content">
                    <div class="signup-form">
                        <strong> <h1>Password set</h1>
                          <p>Your password has been set. You can
                            <a href="{% url 'login' %}" id="password_set">log in now</a></p></strong>
                      </div>
                      <div class="signup-image">
                        <figure><img src="{% static 'img/service-cargo-bg.png' %}" height="70%" alt="sign up image"></figure>
                    </div>
            </div>
        </section>

    </div>
{% endblock %}
